*{
    margin:0;
    padding:0;
    border:none;
    
}
ul{
    list-style:none;
}
body{
    -webkit-text-size-adjust :100%;
    width:1000px;
    padding: 0.5em 15em;
    font-size :16px;
    text-align:center;
    background:#ffd1;
    color:#000;
    font-family: "Times New Roman", Meiryo,Osaka;
}
#banner{
    size:auto;
    padding: 0 0 2em;
}
#header{
    text-align:center;
    background-color:white;
    padding: 0px 20px;
    color:#777777;
}

#menu{
    list-style: armenian;
    background:#CCCCCC ;
    text-align:center;
}
#menu ul li {
    color:aqua;
    display: inline-table;
    width:180px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a{
   color:white;
    text-decoration: none;
    display: block;
}
#menu ul li a:hover,a:visited{
    color:greenyellow;
}
#container {
   margin:0px 100px 0px 100px
}
#news{
    text-align: left;
    border-top:2px solid #ccc;
    border-bottom:2px solid #ccc;
    padding :15px 15px 15px 0px
}
#news h2{
    font-size:16px;
    color:limegreen;
    margin-top:-29px;
    background: #FFF;
    width:65px;
    margin-bottom: 25px;
}
#news dl dt{
    font-size:16px;
	color:#999;
}
#news dl  dd {
    font-size:16px;
    margin-bottom: 20px;
}
#news dl dd a{
    color:black
}

#service1{
    width:800px;
    color:black;
    padding:0em;
    font-size:20px;
    border-top: 6px solid #ccc;
    margin-top: 70px;
}
#service1 h2{
    color:orangered;
    background: #fff;
    text-align: left;
    margin-top:-30px;
    width: 210px;
    padding-bottom: 20px
}
#service1 ul li {
     display:inline-table;
    
    
    padding: 2em

    
}
#service1 ul li a{
    color: black;
    text-decoration:none;
    text-shadow:0px 1px 0px green;
    box-shadow: 0px 1px 2px green;
   
    
}
#service1 ul li a img{
    width:300px;
    height :300px;
    box-shadow: 0px 0px 0px green;
}
#seiso{
    float:left;
    width:300px;
    height:200px;
}
#toku{
    float:right;
    width:300px;
    height:200px;
}
#houseclean{
    float:left;
    width:300px;
    height:200px;
}
#hoka{
    float:right;
    width:300px;
    height:200px;
}

#service1 ul li a:hover, a:checked{
    color:lawngreen;
}

 
    

#logo{
   float:right;

}
#footer {

    clear:both;
    padding:2em;
    border-top:2px solid #ccc;
}